h1 {
  font-size: 2em;
  margin: 2em 0 1.5em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-right: 20
}

.rowchard {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#card-user {
  position: relative;
  transition: all 0.6s ease;
  display: inline-block;
  cursor: pointer;
  width: 300px;
  height: 140px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ecf0f1;
  overflow: hidden;
  color: #34495e;

}
#card-user .header {
  transition: all 0.6s ease;
/*  display: inline-flex;*/
  width: 100%;
  height: 80px;
  background-color: #2c3e50;
}
#card-user .header h4 {
  width: 100%;
}
#card-user .avatar {
  transition: all 0.6s ease;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ecf0f1;
  border: 5px solid #ecf0f1;
  display: inline-block;
  margin-top: -55px;
  overflow: hidden;
}
#card-user .avatar img {
  width: 100%;
}
#card-user .text {
  padding: 0 8%;
  width: 250px;
  height: 150px;
}
#card-user .text h3 {
  margin: 7px 0;
  transition: all 0.6s ease;
}
#card-user .text p {
  line-height: 1.2em;
  text-align: justify;
  margin: 20px 0 30px 0;
}
#card-user .skills {
  display: inline;
  position: relative;
  top: -165px;
  right: -400px;
  transition: all 0.6s ease-out;
}
#card-user .social {
  padding: 5% 0;
  background-color: #2c3e50;
  color: #fff;
}
#card-user .social i {
  padding: 0 5%;
  font-size: 1.2em;
}
#card-user .social i:hover {
  transition: all 0.6s ease-out;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#card-user:hover {
  height: 370px;
  z-index: 2;
  transition: all 0.6s ease;
    background-color: #efefef;
}
#card-user:hover .header {
  transition: all 0.6s ease;

}
#card-user:hover .avatar {
  background-color: #efefef;
  transition: all 0.6s ease;

}

input[type='checkbox']:checked +
#card-user {
  width: 500px;
  height: 415px;
  /*margin-top:170px;*/
     z-index: 2;

  transition: all 0.6s ease;
}
input[type='checkbox']:checked +
#card-user .header {

  width: 500px;
}
input[type='checkbox']:checked +
#card-user .avatar {
  margin-left: -180px;
  transition: all 0.6s ease;
}
input[type='checkbox']:checked +
#card-user .skills {
  top: -165px;
  right: -150px;
  transition: all 0.6s ease;

}
input[type='checkbox']:checked +
#card-user .text h3 {
  margin-left: 0px;
 /* margin-left: -100px;*/
  transition: all 0.6s ease;
}


#columns {
  list-style-type: none;
}

.column {
  /*display:inline-block;*/
  float:left;
  width: 310px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: move;

}

.column.over {
  //border: 2px dashed #fff;
  border-top: 2px solid #000;
}